<app-wrapper>
  <div>
    <div class="d-flex justify-content-center">
      <img
        class="mb-2 me-2"
        src="images/logo2.png"
        style="width: calc(2rem + 4vw)"
      />
    </div>
    <h1 class="text-center text-white display-3 mt-4 px-2">
      {{ title }}
    </h1>

    <form class="mt-2" (submit)="onSubmit()" [formGroup]="form">
      <div>
        <div class="input-group">
          <input
            id="ageOrYearOfBirth"
            formControlName="ageOrYearOfBirth"
            type="number"
            class="form-control border-radius-start border-0"
            placeholder="Enter your age or year of birth"
          />
          <button
            class="btn btn-primary btn-sm border-radius-end"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>

    @if (formErrors && form.touched && form.dirty) {
    <div class="d-flex justify-content-center text-light mt-1">
      <!-- Required -->
      @if (ageOrYearOfBirthFormControl.errors![`required`]) {
      <div>
        <i class="bi bi-info-circle"></i>
        Please, enter your age or year of birth
      </div>
      }
      <!-- Minimum -->
      @if (ageOrYearOfBirthFormControl.errors![`min`]) {
      <div>
        <i class="bi bi-info-circle"></i>
        You can not have negative age!
      </div>
      }
      <!-- Maximum -->
      @if (ageOrYearOfBirthFormControl.errors![`max`]) {
      <div>
        <i class="bi bi-info-circle"></i>
        Maximum year of birth is {{ year }}!
      </div>
      }
    </div>
    }
  </div>
</app-wrapper>
